@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BreeSerif";
    src: url("../../public/fonts/bree-serif-reg.ttf");
}

html {
    overflow-x: hidden;
}

:root, html, * {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
